* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background: linear-gradient(
      135deg,
      #708090 21px,
      #d9ecff 22px,
      #d9ecff 24px,
      transparent 24px,
      transparent 67px,
      #d9ecff 67px,
      #d9ecff 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #708090 21px,
        #d9ecff 22px,
        #d9ecff 24px,
        transparent 24px,
        transparent 67px,
        #d9ecff 67px,
        #d9ecff 69px,
        transparent 69px
      )
      0 64px;
  background-color: #708090;
  background-size: 64px 128px;
}

$sectionColour: rgb(56, 146, 142);

section {
  margin: 5em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  div {
    height: 12em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $sectionColour;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    input {
      width: 100%;
      margin: 0.3em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #a0c5eb;
      border-radius: 5px;
      font-size: 1.5em;
      text-align: center;
    }
    h2 {
      font-size: 2em;
    }
    label {
      font-size: 1.5em;
    }
    p {
      height: 1.5em;
      font-size: 1.5em;
    }
  }
}
